.container-main-global {
    min-height: 100vh;
    background-color: #FDFAF3;
    border-radius: 8rem;
}

.container-main {
    display: flex;
    justify-content: space-between;

    padding: 0 7.5rem 0 7.5rem;
}

.container-balance {
    margin-top: 6.4rem;
}

.container-balance h1, .container-balance h2, .container-patchs h4 {
    font-weight: 500;

    color: #000000
}

.container-balance h2 {
    font-size: 6.4rem;

    margin: 4.1rem 0 6.5rem 0;
}

.container-balance h3 {
    font-size: 4.8rem;

    margin-bottom: 4.5rem;
}

.container-balance h1 {
    font-weight: 700;
    font-size: 9.6rem;

    color: #000000;
}

.btn-false-main {
    width: 16.981rem;
    height: 3.81rem;
}

.container-patchs {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 7.2rem;
}

.container-patchs h4 {
    font-size: 3.2rem;
}

.patchs-title {
    margin-bottom: 4.2rem;
}

.patchs {
    display: flex;
    gap: 6.1rem;

    margin-bottom: 4.8rem;
}

.patch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
}

.patch:hover {
    transform: scale(1.1);
}

.patch-img {
    width: 20rem;
    height: 20rem;

    background-color: #46EB85;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patch-img img {
    width: 12.5rem;
    height: 12.5rem;
}

@media only screen and (max-width: 1260px) {
    .container-main-global {
        min-width: min-content;
        min-height: 131vh;
    }

    .container-main {
        gap: 2rem;
        padding: 0 6.5rem 0 6.5rem;
    }

    .container-balance h1 {
        font-size: 7.6rem;
    }
}

@media only screen and (max-width: 920px) {
    .container-main-global {
        min-height: 203vh;
        border-radius: 0;
    }

    .container-main {
        flex-direction: column;
    }

    .container-balance h1 {
        font-size: 9.6rem;
    }

    .patch:hover {
        transform: scale(1);
    }
}

@media only screen and (max-width: 520px) {
    .container-main-global {
        min-height: 244vh;
    }
}

@media only screen and (max-width: 279px) {
    .container-main-global {
        min-height: 400vh;
    }
}