button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;

    font-weight: 700;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2.1rem 4.6rem;

    border-radius: 5rem;
}

button:hover {
    transform: scale(1.1);
}

.btn-black {
    background-color: #0E0E0E;
    color: #FDFAF3;
}

.btn-black:hover {
    background-color: #4AE985;
    color: #0E0E0E;
}

.btn-yellow {
    height: 5.596rem;

    background-color: #F4A01F;
    color: #FDFAF3;

    padding: 1.7rem 2rem;
}

.btn-yellow:hover, .btn-red:hover, .btn-green:hover {
    opacity: 0.9;
    color: #0E0E0E;
}

.btn-red {
    background-color: #E84C4C;
    color: #FDFAF3;

    padding: 1.7rem 2.3rem;
}

.btn-green {
    background-color: #4AE985;
    color: #FDFAF3;
}