.container-modal {
    min-height: 100vh;

    background-color: rgba(0, 0, 0, 0.55);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content-modal-account-data {
    width: 89.5rem;
    height: 52rem;

    background-color: #FDFAF3;
    border: 1px solid #0E0E0E;
    border-radius: 1rem;

    display: flex;

    position: relative;
}

.close-icon {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;

    cursor: pointer;
}

.close-icon:hover {
    transform: scale(1.1);
}

.content-form-account-data {
    display: flex;
    flex-direction: column;

    padding: 3.4rem 2.8rem 0 4.9rem;
}

.mini-title-deposit {
    margin-bottom: 2.4rem;
    margin-left: 0.8rem;
}

.btn-false-login {
    width: 15rem;
    height: 3.142rem;
}

.data-complete {
    margin-bottom: 1rem;
}

.first {
    font-weight: 500;
    font-size: 2rem;

    text-decoration-line: underline;

    color: #000000;
}

.second {
    font-weight: 500;
    font-size: 1.6rem;

    color: #000000;
}

.btn-update {
    width: 19.2rem;
    height: 5.7rem;

    margin-top: 1rem;
    margin-left: 0.8rem;
}

@media only screen and (max-width: 1260px) {
    .content-modal-account-data {
        width: 38rem;
        height: 54rem;

        padding: 2.4rem 0 0 0;
    }

    .content-image-account-data {
        display: none;
    }
}