.container-modal {
    min-height: 100vh;

    background-color: rgba(0, 0, 0, 0.55);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content-modal-update {
    width: 89.5rem;
    height: 52rem;

    background-color: #FDFAF3;
    border: 1px solid #0E0E0E;
    border-radius: 1rem;

    display: flex;

    position: relative;
}

.close-icon {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;

    cursor: pointer;
}

.close-icon:hover {
    transform: scale(1.1);
}

.content-form-update {
    display: flex;
    flex-direction: column;

    padding: 1.8rem 6.1rem 0 5.7rem;
}

.form-update {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-input-update {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-bottom: 0.3rem;

    position: relative;

}

.container-input-update img {
    width: 2rem;
    height: 2rem;

    position: absolute;
    top: 2.5rem;
    right: 1rem;

    cursor: pointer;
}

.mini-title-deposit {
    margin-bottom: 0.5rem;
}

.btn-false-login {
    width: 15rem;
    height: 3.142rem;
}

.btn-black-deposit {
    width: 19.2rem;
    height: 5.7rem;

    margin-top: 1rem;
}

.content-image-login {
    padding-top: 0.3rem;
}

@media only screen and (max-width: 1260px) {
    .content-modal-update {
        width: 38rem;
        height: 54rem;

        padding: 2.4rem 0 0 0;
    }

    .content-image-login {
        display: none;
    }
}