.header-icons {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header-icons span {
    font-weight: 500;
    font-size: 20px;

    color: #000000;
}

.container-user-data,
.container-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    cursor: pointer;
}

.container-user-data:hover, .container-logout:hover {
    transform: scale(1.1);
}