.main-extract {
    height: 100vh;

    padding: 48px 0 0 75px;
}

.container-deposits {
    margin-bottom: 32px;
}

.title {
    width: 1043px;
    height: 61px;

    background-color: #4AE985;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title h2 {
    font-weight: 700;
    font-size: 24px;

    color: #0E0E0E;
}

.title span {
    font-weight: 400;
    font-size: 16px;

    color: #0E0E0E;
}

.sub-title {
    width: 1043px;
    height: 40px;

    background-color: #92E3A9;

    display: flex;
    align-items: center;
    justify-content: center;
}

.number_id {
    margin: 0 358px 0 40px;
}

.date {
    margin: 0 40px 0 410px;
}

.record {
    width: 1043px;
    height: 26.5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #000000;

    margin-top: 8px;
}

.number_id_record, .number_id_record_transfer {
    margin-left: 72px;
}

.date_record {
    margin-right: 22px;
}

.value_record {
    margin-left: 12px;
}

.number_id_transfer {
    margin: 0 210px 0 0;
}

.value_transfer {
    margin-right: 20px;
}

.date_transfer {
    margin: 0 138px 0 243px;
}

.number_id_record_transfer {
    margin-right: 60px;
}

.value_record_transfer {
    margin-right: 42px;
}

.date_record_transfer {
    margin-right: 10px;
}

.number_account {
    margin-right: 114px;
}