.container-modal {
    min-height: 100vh;

    background-color: rgba(0, 0, 0, 0.55);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content-modal-deposit {
    width: 89.5rem;
    height: 52rem;

    background-color: #FDFAF3;
    border: 1px solid #0E0E0E;
    border-radius: 1rem;

    display: flex;

    position: relative;
}

.close-icon {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;

    cursor: pointer;
}

.close-icon:hover {
    transform: scale(1.1);
}

.content-form-deposit-new {
    display: flex;
    flex-direction: column;

   padding: 7.5rem 3.7rem 0 5.8rem;
}

.form-deposit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-title-deposit {
    margin-bottom: 2.8rem;
}

.btn-false-login {
    width: 15rem;
    height: 3.142rem;
}

.btn-black-deposit {
    width: 19.2rem;
    height: 5.7rem;

    margin-top: 3.8rem;
}

.content-image-deposit {
    padding-top: 9.6rem;
}

@media only screen and (max-width: 1260px) {
    .content-modal-deposit {
        width: 38rem;
        height: 54rem;

        padding: 2.4rem 0 0 0;
    }

    .content-image-deposit {
        display: none;
    }
}