.container-modal {
    min-height: 100vh;

    background-color: rgba(0, 0, 0, 0.55);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content-modal-login {
    width: 89.5rem;
    height: 52rem;

    background-color: #FDFAF3;
    border: 1px solid #0E0E0E;
    border-radius: 1rem;

    display: flex;

    position: relative;
}

.close-icon {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;

    cursor: pointer;
}

.close-icon:hover {
    transform: scale(1.1);
}

.content-form-login-new {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8.9rem 8.4rem 0 2.7rem;
}

.content-form-login-new h2 {
    font-weight: 500;
    font-size: 3.2rem;

    color: #000000;

    margin-bottom: 3rem;
}

.form-login {
    background-color: #FDFAF3;
    border: 2px solid #0E0E0E;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 2.6rem;
}

.mini-title-login {
    margin-bottom: 1rem;
}

.btn-false-login {
    width: 15rem;
    height: 3.142rem;
}

.btn-black-login {
    width: 19.2rem;
    height: 5.596rem;
}

.content-image-login-new {
    padding-top: 7rem;
}

@media only screen and (max-width: 1260px) {
    .content-modal-login {
        width: 69.5rem;
        height: 42rem;

        display: flex;
        justify-content: center;
        gap: 3rem;
    }

    .close-icon {
        width: 4.7rem;
        height: 4rem;
    }

    .content-form-login-new {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0;
    }

    .content-image-login-new img {
        width: 30rem;
        height: 30rem;
    }
}

@media only screen and (max-width: 920px) {
    .content-modal-login {
        width: 38rem;
        height: 38rem;
    }

    .close-icon {
        width: 3rem;
        height: 2.5rem;
    }

    .form-login {
        border: none;
        padding: 0;
    }

    .content-image-login-new {
        display: none;
    }
}